# 1. Налаштування редактора CLion (JetBrains)
.idea/

# 2. Папки збирання CMake (Тут лежать ваші готові програми, вони генеруються автоматично)
cmake-build-*/
build/
out/

# 3. Скомпільовані об'єктні файли (проміжні результати компіляції)
*.o
*.obj

# 4. Скомпільовані бібліотеки (динамічні та статичні)
*.so
*.dylib
*.dll
*.a
*.lib

# 5. Готові виконувані файли (програми)
*.exe
*.out
*.app

# 6. Тимчасові файли CMake (якщо ви випадково запустите збирання не в тій папці)
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# 7. Системні файли ОС (необов'язково, але хороший тон для спільних проєктів)
.DS_Store
Thumbs.db